.JDM {
  background: black;
  color: white;
  padding: 20px;
  margin: 20px;
}

.meanings {
  background: whitesmoke;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  border-radius: 15px;
}

.definition:hover, .culture:hover, .racing:hover {
  opacity: 100%;
}

.definition {
  background: #2dc937;
  width: 75%;
  opacity: 80%;
  padding: 10px;
  margin: 20px;
}

.culture {
  background: #e7b416;
  width: 75%;
  opacity: 80%;
  padding: 10px;
  margin: 20px;
}

.racing {
  background: #cc3232;
  width: 75%;
  opacity: 80%;
  padding: 10px;
  margin: 20px;
}

.table {
  background: white;
  width: 1000px;
  height: 240px;
}

.RJ {
  margin: 20px;
}

 .RJ > h2 {
  padding: 20px;
  background: black;
  color: white;
  width: 50%;
  text-align: center;
}

.RJ > p {
  font-size: larger;
  background: white;
  padding: 5px;
  border-radius: 10px;
  width: fit-content;
}

.Why {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

#reason {
  font-weight: bold;
  font-style: italic;
}

.s2k {
  background: whitesmoke;
  text-align: center;
  width: 500px;
}

#flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#image {
  width: 495px;
  height: 495px;
  object-fit: cover;
}